.spacer {
    flex: 1;
  }

.toolbar {

  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
}

.toolbar img {
  margin: 0 16px;
}

.toolbar #twitter-logo {
  height: 40px;
  margin: 0 8px;
}

.toolbar #youtube-logo {
  height: 40px;
  margin: 0 16px;
}

.toolbar #twitter-logo:hover,
.toolbar #youtube-logo:hover {
  opacity: 0.8;
}

.toolbar button {
  background-color: #4CAF50;
  border: 2px solid #42a545;
  border-radius: 6px;
  color: white;  
  padding: 8px 16px;
  margin-right: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.toolbar button:hover {
  background-color: white;
  border: 2px solid #1463b3;
  color: #1976d2;
}